// App Colors
$secondary-color: #6155b4;
$primary-color: #6155b4;
$primary-color-dark: #40377a;
$secondary-color-lighter: #5549a3;
$border-color: #cfcfcf;
$item-hover-color: rgb(0, 0, 0, 0.05);
//

// Resuable Styles
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overflow-y-scroll {
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    padding-top: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color !important;
    border-radius: 8px;
  }
}

//