    @import "../../styles/variables";

    .rename-file {
        position: relative;
        min-width: 69%;
        max-width: -webkit-fill-available;
        text-align: center;
        border: 4px solid $primary-color;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Nunito Sans", sans-serif;
        padding: 1px 7px;
        resize: none;
        field-sizing: content;
        overflow-y: hidden;

        &:focus {
            outline: none;
        }
    }