.dialog[open] {
  animation: expand 0.4s forwards;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes expand {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
