.fm-button {
  border-radius: 5px;
  font-weight: 600;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.fm-button-primary {
  background-color: #6155b4;
  color: white;

  &:hover {
    background-color: #4b3f9f;
  }
}

.fm-button-secondary {
  background-color: #f0f0f0;
  color: black;

  &:hover {
    background-color: #e0e0e0;
  }
}

.fm-button-danger {
  background-color: #f44336;
  color: white;

  &:hover {
    background-color: #d32f2f;
  }
}
