@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$secondary-color: #6155b4;
$primary-color: #6155b4;
$secondary-color-lighter: #5549a3;

.background-secondary {
  background-color: $secondary-color !important;
}

.text-white {
  color: white;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img,
svg {
  vertical-align: middle;
}

.fm-modal {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  width: fit-content;
  overflow-x: hidden;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.253);
}

.w-25 {
  width: 25%;
}

.file-explorer {
  font-family: "Nunito Sans", sans-serif;
  button {
    font-family: "Nunito Sans", sans-serif;
  }
  border: 1px solid #dddddd;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  cursor: default;
  // Disable Text Selection on Double Click
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .file-explorer-loading {
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: -webkit-fill-available;
    background-color: rgba(255, 255, 255, 0.542);
  }

  .toolbar {
    height: calc(7.6% - 13px);
    min-height: 35px;
    border-bottom: 1px solid #dddddd;
    padding: 6px 10px;

    .file-action-container {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
      }

      .file-action {
        background-color: transparent;
        gap: 5px;

        &:hover:not(:disabled) {
          cursor: pointer;
          background-color: rgb(0, 0, 0, 0.55) !important;
          border-radius: 3px;
          color: white;
          text-shadow: 0px 0px 1px white;
        }

        &:hover:disabled {
          cursor: default;
          background-color: transparent !important;
          color: #b0b0b0;
          text-shadow: none;
        }
      }
    }

    .fm-toolbar {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        position: relative;
      }

      .toolbar-left-items {
        display: flex;
      }

      .toggle-view {
        position: absolute;
        z-index: 3;
        top: 105%;
        right: 22%;
        background-color: white;
        margin: 0;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        ul {
          list-style: none;
          padding-left: 0;
          margin: 0.4em 0;
          display: flex;
          flex-direction: column;
          gap: 1px;

          li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 20px 5px 10px;

            &:hover {
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.075);
            }

            span:nth-child(1) {
              width: 13px;
            }
          }
        }
      }
    }

    .item-action {
      background-color: white;
      display: flex;
      align-items: center;
      gap: 7px;
      padding: 8px 12px;
      font-size: 14px;
      width: fit-content;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: rgb(0 0 0 / 12%) !important;
        border-radius: 3px;
        color: $secondary-color-lighter;
      }

      .toggle-view-icon {
        background-color: transparent;
        border: none;

        &:hover {
          cursor: pointer;
          color: $secondary-color-lighter;
        }
      }
    }

    .icon-only {
      padding: 8px !important;

      &:focus {
        background-color: rgb(0 0 0 / 12%);
      }
    }

    .item-separator {
      height: 36px;
      background: #dee1e3;
      width: 1px;
      margin: 0 5px;
    }
  }

  .file-selected {
    background-color: rgb(0, 0, 0, 0.04);
  }

  .files-container {
    display: flex;
    height: 92.4%;

    .navigation-pane {
      z-index: 1;
      padding-top: 8px;

      .sb-folders-list {
        list-style: none;
        margin: 0px 4px;
        height: 100%;

        overflow-y: auto !important;

        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          padding-top: 2px;
        }

        &::-webkit-scrollbar-thumb {
          background: $primary-color !important;
          border-radius: 8px;
        }

        .folder-collapsible {
          margin-left: 10px;
        }

        .sb-folders-list-item {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          padding: 6px 5px;
          border-radius: 4px;

          &:hover {
            cursor: pointer;
            background-color: rgb(0, 0, 0, 0.04);
          }

          .non-expanable {
            min-width: 20px;
          }

          .sb-folder-details {
            display: flex;
            align-items: center;

            .folder-open-icon {
              margin: 0 7px;
            }

            .folder-close-icon {
              margin: 1px 9px 0px 8px;
            }

            .sb-folder-name {
              width: max-content;
            }
          }

          .folder-rotate-down {
            animation: rotateFolderDown 0.5s linear forwards;
          }

          @keyframes rotateFolderDown {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(90deg);
            }
          }

          .folder-rotate-right {
            animation: rotateRight 0.5s linear forwards;
          }

          @keyframes rotateRight {
            from {
              transform: rotate(90deg);
            }

            to {
              transform: rotate(0deg);
            }
          }
        }

        .active-list-item {
          background-color: $primary-color;
          color: white;

          &:hover {
            cursor: pointer;
            background-color: $primary-color;
          }
        }

        .empty-nav-pane {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }

      position: relative;

      .sidebar-resize {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 5px;
        cursor: col-resize;
        z-index: 10;
        border-right: 1px solid #dee2e6;

        &:hover {
          border-right: 1px solid #1e3a8a;
        }
      }

      .sidebar-dragging {
        border-right: 1px solid #1e3a8a;
      }
    }

    .folders-preview {
      z-index: 2;
      background-color: white;
      padding-right: 0px;
      padding-left: 0px;
      border-bottom-right-radius: 8px;
    }

    .breadcrumb {
      height: calc(5.8% - 21px);
      display: flex;
      gap: 0.5rem;
      overflow-x: scroll;
      border-bottom: 1px solid #dddddd;
      padding: 10px 15px;

      &::-webkit-scrollbar {
        width: 5px;
        padding-top: 2px;
        scrollbar-width: none;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary-color !important;
      }
    }

    .folder-name {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 500;
      min-width: fit-content;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
      }
    }

    .files {
      position: relative;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      column-gap: 0.5em;
      row-gap: 5px;
      height: calc(94.2% - 16px);
      overflow-y: auto;
      padding: 8px;
      padding-right: 4px;

      &::-webkit-scrollbar {
        width: 5px;
        padding-top: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary-color !important;
      }

      .file-item-container {
        border-radius: 5px;
      }

      .file-item {
        position: relative;
        height: 81px;
        width: 138px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        padding-top: 13px;
        padding-bottom: 1px;
        margin: 5px 0;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color: rgb(0, 0, 0, 0.04);
        }

        .rename-file-container {
          position: absolute;
          top: 62px;
          width: 100%;
          text-align: center;
        }

        .rename-file-container.list {
          top: 6px;
          left: 48px;
          text-align: left;

          .rename-file {
            min-width: 15%;
            text-align: left;
            border-radius: 3px;
            border: none;
            top: 5px;
            white-space: nowrap;
            overflow-x: hidden;
            max-width: calc(100% - 48px);
          }

          .folder-name-error.right {
            left: 0px;
            bottom: -72px;
          }
        }

        .rename-file {
          position: relative;
          min-width: 69%;
          max-width: -webkit-fill-available;
          text-align: center;
          border: 4px solid $primary-color;
          border-radius: 10px;
          font-size: 15px;
          font-family: "Nunito Sans", sans-serif;
          padding: 2px 7px;
          resize: none;
          field-sizing: content;
          overflow-y: hidden;

          &:focus {
            outline: none;
          }
        }

        .folder-name-error {
          position: absolute;
          z-index: 1;
          bottom: -68px;
          left: 16px;
          padding: 8px;
          width: 292px;
          border-radius: 5px;
          background-color: #696969;
          text-align: left;
          margin: 0;
          font-size: 0.9em;
          &::before {
            content: "";
            position: absolute;
            top: -20%;
            rotate: -45deg;
            border: 15px solid #696969;
            border-color: transparent #696969 transparent transparent;
          }
        }

        .folder-name-error.right {
          left: 16px;
          &::before {
            left: 11%;
          }
        }

        .folder-name-error.left {
          left: -180px;
          &::before {
            left: 76%;
            transform: rotate(90deg) scaleX(-1);
          }
        }

        .folder-name-error.top {
          bottom: unset !important;
          top: -68px;
          &::before {
            content: none;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -20%;
            left: 11%;
            rotate: -45deg;
            border: 15px solid #696969;
            border-color: transparent transparent #696969 transparent;
          }
        }

        .folder-name-error.top.left {
          &::after {
            left: 76%;
            transform: rotate(90deg) scaleX(-1);
          }
        }

        .file-name {
          max-width: 115px;
        }
      }

      .file-selected {
        background-color: $primary-color;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: $primary-color;
        }
      }

      .file-moving {
        opacity: 0.5;
      }
    }

    .files.list {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0;
      padding-left: 0px;
      padding-top: 0px;

      .files-header {
        font-size: 0.83em;
        font-weight: 600;
        display: flex;
        gap: 5px;
        border-bottom: 1px solid #dddddd;
        padding: 4px 0;
        position: sticky;
        top: 0;
        background-color: #f5f5f5;
        z-index: 1;

        .file-name {
          width: calc(70% - 65px);
          padding-left: 65px;
        }

        .file-date {
          text-align: center;
          width: 20%;
        }

        .file-size {
          text-align: center;
          width: 10%;
        }
      }

      .file-item-container {
        display: flex;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: rgb(0, 0, 0, 0.04);
        }
      }

      .file-item-container.file-selected {
        &:hover {
          background-color: $primary-color !important;
        }
      }

      .file-item {
        flex-direction: row;
        height: 13px;
        justify-content: unset;
        padding: 15px;
        padding-left: 20px;
        margin: 0;
        width: calc(70% - 30px);

        &:hover {
          background-color: unset;
        }

        .file-name {
          max-width: 285px;
        }
      }

      .modified-date {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        width: calc(20%);
      }

      .size {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        width: calc(10%);
      }
    }

    .empty-folder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-height: 600px) and (max-height: 900px) {
  .file-explorer {
    height: 63dvh;

    .file-explorer-loading {
      height: 63dvh;
    }

    .files-container {
      height: calc(63dvh - 51px);

      .files {
        height: 46dvh;
      }
    }
  }
}

@media screen and (min-height: 550px) and (max-height: 600px) {
  .file-explorer {
    height: 58dvh;

    .file-explorer-loading {
      height: 58dvh;
    }

    .files-container {
      height: calc(58dvh - 51px);

      .files {
        height: 46dvh;
      }
    }
  }
}

.close-icon {
  padding: 5px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.07);
  }
}

.action-input {
  border: none;
  border-bottom: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: box-shadow 0.3s;
  background-color: #f5f5f5;
  padding: 6px 9px;
  margin-right: 8px;
  width: calc(100% - 18px);

  &:focus {
    outline: none;
    border-bottom-color: $primary-color !important;
    box-shadow: inset 0 -1px 0 0 $primary-color;
  }
}

.folder-error {
  color: #dc3545;
  font-size: 0.8em;
  margin-top: 4px;
}

.file-upload-container {
  .rs-uploader-file-items {
    max-height: 165px;
    overflow-y: auto !important;
    overflow-x: hidden !important;

    &::-webkit-scrollbar {
      width: 5px;
      padding-top: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-color !important;
    }
  }

  .rs-uploader-file-items::before {
    content: "Selected files";
    color: $primary-color;
    font-weight: 600;
    display: none;
    margin-left: 1px;
  }

  .rs-uploader-file-item {
    border-radius: 5px;
    margin: 13px 5px 3px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.22);
  }
}

.file-upload-container.show-uploaded-files {
  .rs-uploader-file-items::before {
    display: block;
  }
}

.file-previewer {
  height: 75vh;

  .photo-popup-image {
    opacity: 1;
    object-fit: contain;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
  }

  .img-loading {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}

.file-context-menu-list {
  font-size: 1.1em;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      gap: 6px;
      align-items: center;
      padding: 6px 22px 6px 14px;

      &:hover {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 0.04);
      }
    }

    li.disable-paste {
      opacity: 0.5;

      &:hover {
        cursor: default;
        background-color: transparent;
      }
    }
  }
}

.file-delete-confirm {
  .file-delete-confirm-text {
    border-bottom: 1px solid #dddddd;
    padding: 10px 15px;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }

  .file-delete-confirm-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

.fm-create-folder-container {
  padding: 8px 0;

  .fm-create-folder-input {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 12px 12px;
  }

  .fm-create-folder-action {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
  }
}

.fm-rename-folder-container {
  padding: 8px 0;

  .fm-rename-folder-input {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 12px 12px;

    .fm-rename-warning {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .fm-rename-folder-action {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
  }
}

.fm-upload-file {
  padding: 18px 15px;
  display: flex;
  gap: 18px;

  .select-files {
    width: 100%;
    .draggable-file-input {
      color: #696969;
      background-color: #f7f7f7;
      margin-bottom: 18px;
      height: 220px;
      border: 2px dashed #ccc;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .input-text {
        pointer-events: none; // This ensures that the drag and drop event isn't binded with it's children
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &:hover {
        border-color: $primary-color;
      }
    }

    .draggable-file-input.dragging {
      border-color: $primary-color;
    }

    .btn-choose-file {
      display: flex;
      justify-content: center;

      label {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        &:hover {
          cursor: pointer;
        }
      }

      .choose-file-input {
        display: none;
      }
    }
  }

  .files-progress {
    width: 60%;

    .heading {
      display: flex;
      gap: 4px;
    }

    h2 {
      font-size: 0.9em;
      margin: 0;
    }

    ul {
      padding-left: 0px;
      padding-right: 5px;
      padding-bottom: 10px;
      margin-top: 0.7rem;
      height: 220px;
      overflow-y: auto !important;
      font-weight: 500;

      &::-webkit-scrollbar {
        width: 3px;
        height: 8px;
        padding-top: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary-color !important;
      }

      li {
        list-style: none;
        border-bottom: 1px solid #c6c6c6;
        display: flex;
        gap: 5px;
        margin-bottom: 18px;
        padding-bottom: 12px;

        .file-icon {
          width: 10%;
        }

        .file {
          width: 90%;

          .file-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            .file-info {
              width: 90%;
              display: flex;
              align-items: baseline;

              .file-name {
                display: inline-block;
                max-width: 72%;
                margin-right: 8px;
              }
            }

            .file-size {
              font-size: 0.7em;
            }

            .retry-upload {
              padding: 3px;
              border-radius: 50%;
              &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.07);
                color: $primary-color;
              }
            }

            .rm-file {
              &:hover {
                cursor: pointer;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

.file-selcted {
  .select-files {
    width: 40%;
  }
}
